@model Tuple<bool, List<Dictionary<Dictionary<string, string>, List<Dictionary<string, string>>>>>
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";

    string addPostHtml = "";

    if (Model.Item1 == true)
    {
        addPostHtml = "<div class=\"post_send\"><form>" +
                         "<textarea name = \"Text\"></textarea>" +
                         "<input type=\"submit\" formmethod=\"post\" " +
                         "value=\"Добавить пост\" formaction=\"/Profile/AddPost\"/>" +
                         "</form></div><br><br>";
    }
}

<div id="profile_info_left">
    <h1>@ViewBag.User["Name"] @ViewBag.User["Surname"]</h1>
    <h6>Дата рождения: @ViewBag.User["BornDate"]</h6>
</div>
<div id="profile_info_right">
    <h4>Логин: @ViewBag.User["Login"]</h4>
    <h6>Емейл: @ViewBag.User["Email"]</h6>
    <h6>Дата регистрации: @ViewBag.User["RegisterDate"]</h6>
</div>
<div style="float:none"></div><br><br><br><br><br><br><br><br><br><br>
@{
    
}
@Html.Raw(addPostHtml)
@{ 
    foreach(var i in Model.Item2)
    {
        foreach(var post in i.Keys)
        {
    <div id="posts_comments">
    <br><br><div class="post_@post["Id"]">
    @post["Date"]<br>
    @post["UserName"] @post["UserSurname"] пишет:<br>
    @post["Text"]
    <br>
    <form>

        <input type="hidden" name="PostId" value=@post["Id"] />
        <input type="hidden" name="UserId" value=@post["UserId"] />
        <textarea name="Text"></textarea>
        <input type="hidden" name="CommentId" value=-1 />
        <input type="submit" value="Добавить комментарий"
               formmethod="post" formaction="/Profile/AddComment" />
    </form>
</div>
    </div>
            foreach(var comment in i[post])
            {
    <div class="comment_nesting_@comment["Nesting"]">
        @comment["Date"]<br>
        @comment["AuthorName"] @comment["AuthorSurname"] пишет:<br>
        @comment["Text"]
        <form>
            <input type="hidden" name="PostId" value=@comment["PostId"] />
            <input type="hidden" name="UserId" value=@comment["UserId"] />
            <textarea name="Text"></textarea>
            <input type="hidden" name="CommentId" value=@comment["Id"] />
            <input type="submit" value="Ответить"
                   formmethod="post" formaction="/Profile/AddComment" />
        </form>
    </div>
            }
        }
    }
}