@using BLModels;
@model Tuple<List<User>, string>
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h2>Поиск</h2>

Введите в одно или несколько полей фильтры для поиска<br><br>

<form>
    Имя: <input name="Name" /><br><br>
    Фамилия: <input name="Surname" /><br><br>
    Логин:<input name="Login" /><br><br>
    <input type="submit" value="Найти" asp-action="SearchUsers" formmethod="post" />
</form>

@{
    foreach (var i in Model.Item1)
    {
            <a href="@Model.Item2/Profile/Index?id=@i.Id">
<br>
    @i.Login: @i.Name @i.Surname
    @i.BornDate
</a><br><br>
            }
}